.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.btn {
    min-width: 0 !important;
}

fieldset {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

.list-group-item {
    padding: 0.5rem 1rem;
}

.list-group-item h6 {
    margin-top: 0.5rem;
}

.dummyPlayer {
    padding-bottom: 56.25%;
    background: #000;
}

.source-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.source-protocol {

}

.source-url {
    margin-top: 0.25rem;
    word-break: break-all;
}

.source-control {

}

.player-area {
    position: relative;
}

.player-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

footer {
    font-size: 0.85rem;
}